<head>
	<meta charset="UTF-8">
	<!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="manifest" href="/manifest.json">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="msapplication-TileColor" content="#009999">
	<meta name="theme-color" content="#009999">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Nilana Rocha | Interior Designer">
	
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<link rel="canonical" href="https://nilanarocha.github.io" />
	<title>{{ site.title }}</title>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
</head>
